/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../app/styles/_reset.sass */
* {
  margin: 0;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}

/* line 8, ../../app/styles/_reset.sass */
input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

/* line 13, ../../app/styles/_reset.sass */
textarea {
  -webkit-overflow-scrolling: touch;
}

/* line 16, ../../app/styles/_reset.sass */
html, body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

/* line 20, ../../app/styles/_reset.sass */
body {
  zoom: 1;
  position: relative;
  width: 100;
}

/* line 25, ../../app/styles/_reset.sass */
button {
  margin: 0;
  cursor: pointer;
}

/* line 29, ../../app/styles/_reset.sass */
h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* line 35, ../../app/styles/_reset.sass */
h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* line 41, ../../app/styles/_reset.sass */
h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

/* line 47, ../../app/styles/_reset.sass */
h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* line 54, ../../app/styles/_reset.sass */
a img {
  outline-color: none;
}

@media only screen and (min-width: 680px) {
  /* line 4, ../../app/styles/_classes.sass */
  .port-main-left-column, .port-main-right-column {
    width: 48%;
  }
}

@media only screen and (min-width: 680px) {
  /* line 8, ../../app/styles/_classes.sass */
  .port-main-column--small {
    width: 28%;
  }
}

@media only screen and (min-width: 680px) {
  /* line 12, ../../app/styles/_classes.sass */
  .port-main-left-column--thirds, .port-main-middle-column--thirds, .port-main-right-column--thirds {
    width: 31%;
  }
}

@media only screen and (min-width: 680px) {
  /* line 16, ../../app/styles/_classes.sass */
  .port-main-column--large {
    width: 68%;
  }
}

/* line 20, ../../app/styles/_classes.sass */
.port-main-content, .port-main-content--columns {
  padding: 30px 20px;
  max-width: 620px;
  margin: 0 auto;
}
@media only screen and (min-width: 680px) {
  /* line 20, ../../app/styles/_classes.sass */
  .port-main-content, .port-main-content--columns {
    padding: 20px;
  }
}

@media only screen and (min-width: 680px) {
  /* line 27, ../../app/styles/_classes.sass */
  .port-main-content--columns {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
}

/* line 58, ../../app/styles/_classes.sass */
a {
  text-decoration: none;
  color: #745486;
}
/* line 61, ../../app/styles/_classes.sass */
a:hover {
  text-decoration: underline;
}

/* line 64, ../../app/styles/_classes.sass */
p {
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

/* line 69, ../../app/styles/_classes.sass */
.port-main-text-align {
  text-align: center;
}

/* line 72, ../../app/styles/_classes.sass */
.port-main-section-end {
  margin-bottom: 40px;
}

/* line 75, ../../app/styles/_classes.sass */
.port-main-img, .port-main-img-border {
  margin-bottom: 40px;
  width: 100%;
}

/* line 81, ../../app/styles/_classes.sass */
.port-main-img-border {
  border-bottom: 1px solid #ececec;
}

@media only screen and (max-width: 679px) {
  /* line 85, ../../app/styles/_classes.sass */
  .port-main-hide-image-moible {
    display: none;
  }
}

/*# sourceMappingURL=all.css.map */