<div class="notes-view-main">
    <div class="port-main-content">
        <h1>Simple Notes</h1>
        <button class="notes-main-button" ng-click="toogleCreate=true" ng-hide="toogleCreate"><i>Create a New Note</i></button>
        <div create-note ng-show="toogleCreate"></div>
        <div class="notes-main-saved-note" ng-repeat="note in notes | reverse">
            <h3><input ng-model="note.title"></h3>
            <textarea ng-model="note.message">{{note.message}}</textarea>
            <div class="notes-main-saved-note--functions">
                <a class="notes-function-edit" ng-click="update($index)"><span>Edit</span></a>
                <a class="notes-function-delete" ng-click="delete($index)"><span>Delete</span></a>
            </div>
        </div>
        {{notes}}
    </div>
</div>