<form name="form" novalidate class="port-main-form">
    <div class="port-main-form-input-container" 
            ng-class='{ "has-focus": form.title.hasFocus,
            "has-success": form.title.$valid,
            "has-error": form.title.$invalid && (form.$submitted || form.title.$touched),
            "is-empty": !form.title.$viewValue }'>
        <label for="title">Note Title</label>
        <input type="text" name="title" ng-model="notes.title" required
            ng-focus='form.title.hasFocus=true', ng-blur='form.title.hasFocus=false' >
    </div>
    <div class="port-main-form-input-container--label" 
            ng-class='{ "has-focus": form.message.hasFocus,
            "has-success": form.message.$valid,
            "has-error": form.message.$invalid && (form.$submitted || form.message.$touched),
            "is-empty": !form.message.$viewValue }'>
        <label for="message">What's on your mind?</label>
        <textarea name="message" ng-model="notes.message" required
            ng-focus='form.message.hasFocus=true', ng-blur='form.message.hasFocus=false' ></textarea>
    </div>
    <button class="notes-main-button" type="submit" ng-click="submit(form)">Send your message!</button>
</form>